.wrapper {
    display: flex;
    flex-direction: column;
}
.shopee-tabs {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0 24px;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    text-decoration: column;
    -webkit-tap-highlight-color: transparent;
}

.shopee-tabs__nav {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    white-space: nowrap;
}

.shopee-tabs__nav-warp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.shopee-tabs__nav-tabs {
    transform: translateX(0px);
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-tap-highlight-color: transparent;
}

.shopee-tabs__nav-tab {
    white-space: normal;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    overflow: hidden;
    text-align: center;
    font-family: var(--font-family);
    cursor: pointer;
}

.tab-badge {
    margin-left: 4px;
    display: inline-block;
    color: #999;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

////
.product-grid {
    border-top: 1px solid #999;
    height: 100%;
}

.grid {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-content: normal;
    -webkit-box-pack: start;
    justify-content: flex-start;
    // background-color: rgb(133, 194, 248);
}

.grid-left {
    min-width: 0;
    height: 50px;
    display: flex;
    width: 400px;
    -webkit-tap-highlight-color: transparent;
    // background-color: aquamarine;
}

.title-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.page-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    white-space: nowrap;
}

.grid-right {
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    align-content: flex-start;
    -webkit-box-pack: end;

    &:hover {
        opacity: 0.9;
    }
}

.add-action {
    margin-left: 16px;
    font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    color: #fff;
    background-color: #ee4d2d;
    border-color: #ee4d2d;
    height: 40px;
    min-width: 80px;
    padding: 0 16px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease-in-out;
    appearance: none;
    user-select: none;
}

.add-action:hover {
    opacity: 8;
}

.shopee-icon {
    width: 16px;
    height: 16px;
    color: #fff;
    vertical-align: middle;
    box-sizing: content-box;
    display: inline-block;
    line-height: 0;
    fill: currentColor;
}

.shopee-add-title {
    color: #fff;
}

//product
.product-list-setion {
    border-radius: 4px;

    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    position: relative;
    top: 20px;
}

.product-list-table {
    position: relative;
    background: #fff;
    transition: opacity 0.5s ease;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 1px;
}

// .shopee-table__header-container {
//     margin: -1px;
//     border-radius: 4px;
//     margin-bottom: 0;
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
//     position: relative;
//     z-index: 1;
//     flex-shrink: 0;
//     //background-color: #f6f6f6;
// }

.shopee-table__header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table__header {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

.table__header-conten {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    width: 100%;
    height: 70px;
}

.td_table-name {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

//Link
.btn-update {
    &:hover {
        opacity: 8;
        color: #2673dd;
    }
}

//pag
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 13px;
    font-size: 1.6rem;
    gap: 5px;

    .page-num {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 3px;
        border: 0.1px solid #d6d6d6;

        &:hover {
            background-color: #5ab1bb;
            color: #fff;
        }
    }

    .page-num-fisrt {
        padding: 5px 5px;
        cursor: pointer;
        border-radius: 3px;
        border: 0.1px solid #d6d6d6;

        &:hover {
            background-color: #5ab1bb;
            color: #fff;
        }
    }

    .page-num-last {
        padding: 5px 14px;
        cursor: pointer;
        border-radius: 3px;
        border: 0.1px solid #d6d6d6;

        &:hover {
            background-color: #5ab1bb;
            color: #fff;
        }
    }
    .active {
        background-color: #5ab1bb;
    }
}

//btn delete
.selected-panel {
    display: fixed;
    height: 64px;
    background-color: #f0efef;
    box-shadow: 0 -2px 6px 0 rgba(4, 4, 4, 0.12);
    overflow: hidden;
}

.selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: inherit;
    font-size: 16px;
    padding: 0px 10px;
}

.selected-text {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: right;
}

.delete-button {
    margin-left: 16px;
    font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    color: #fff;
    background-color: #ee4d2d;
    border: 1px solid #e5e5e5;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    min-width: 72px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;

    &:hover {
        opacity: 0.9;
    }
}

//form xac nhan delete
.delete-modal__container {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
}
.delete-modal__box {
    display: flex;
    width: 400px;
    height: 184px;
    padding: 0 24px;
    position: relative;
    z-index: 11;
}

.delete-modal__content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 13;
}

.delete-modal__header {
    height: 104px;
    width: 100%;
}

.delete-modal__header-inner-confirm {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 72px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
}

.delete-modal__header-inner-title {
    height: 32px;
    flex-grow: 1;
    min-height: 32px;
    padding: 0 24px;
    overflow: auto;
    font-size: 14px;
    font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
}

.delete-modal__footer {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 24px;
    overflow: hidden;
}

.delete-modal__footer-buttons {
    display: inline-flex;
    float: right;
}

.delete-button--normal {
    font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    position: relative;
    align-items: center;
    -webkit-box-pack: center;
    display: inline-flex;
    -webkit-box-align: center;
    justify-content: center;
    height: 32px;
    min-width: 72px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;

    &:hover {
        background-color: rgb(229, 228, 228);
    }
}

.delete-button--primary {
    margin-left: 16px;
    font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    color: #fff;
    background-color: #ee4d2d;
    border-color: #ee4d2d;
    border: 1px solid #e5e5e5;
    position: relative;
    align-items: center;
    -webkit-box-pack: center;
    display: inline-flex;
    -webkit-box-align: center;
    justify-content: center;
    height: 32px;
    min-width: 72px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}
