.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px;
}

.name-title {
    text-transform: uppercase;
}

.sum_turnover_value {
    font-weight: 700;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sum_number_value {
    font-weight: 700;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
//table
.table__header {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 20px;
    border: 1px solid #333;
}

.table__header-tr {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.td_table-name {
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-right: 1px solid #333;
    height: 50px;
}

.td_table-name-right {
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 50px;
}
.td_table-name_link {
    width: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border-right: 1px solid #333;
    height: 50px;
}

.td_table-name-title {
    width: 200px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
    border-right: 1px solid #333;
}

.td_table-name-title-right {
    width: 200px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
}

.td_table-name_link-title {
    width: 250px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
    border-right: 1px solid #333;
}

.td_table-name_detail {
    width: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        color: #ee4d2d;
    }
}

.td_table-name_no_link {
    color: #ee4d2d;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.table__header-conten {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid #333;
}

.table__header-conten-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #f7f3f3;
    border-top: 1px solid #333;
}
