@media only screen and (max-width: 46.1875em) {
    .wrapper {
        width: var(--default-layout-width-mobile);
    }
    .product-edit__section {
        padding: 32px 40px;
        box-shadow: 0 0.2rem 0.4rem rgba(45, 44, 44, 0.09);
        z-index: 0;
    }

    .grid {
        display: flex;
        flex-flow: row;
        position: relative;
        margin-top: 10px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .grid-detail {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10px;
    }

    .edit-label {
        display: flex;
        align-items: center;
        font-weight: 400;
        padding-right: 24px;
        position: relative;
        min-height: 40px;
        text-align: right;
        color: #666;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .input-Weight {
        padding: 11px 12px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        outline: none;
        transition: border 0.2s ease-in-out;
        position: relative;
        display: inline-table;
        width: 300px;
        font-size: 14px;
        line-height: 16px;
        color: #333;
        cursor: pointer;
        background-color: #fff;
        border-collapse: separate;
        border-spacing: 0;
        box-sizing: border-box;
    }

    //table

    .grid-table-container {
        position: relative;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .table__header {
        display: flex;
        flex-direction: column;
        width: 302px;
    }

    .table__header-tr {
        width: 302px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #e5e5e5;
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        background-color: #f6f6f6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
    }

    .table__header-conten {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
        width: 100%;
        height: 50px;
    }

    .td_table-name {
        width: 150px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    //add
    .grid-detail-category {
        display: flex;
        justify-content: space-between;
        width: 300px;
        position: relative;
        margin-top: 10px;
        //margin-left: 60px;
    }

    //btn
    .delete-button {
        margin-left: 16px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
        color: #fff;
        background-color: #ee4d2d;
        border: 1px solid #e5e5e5;
        position: relative;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 32px;
        min-width: 72px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        appearance: none;

        &:hover {
            opacity: 0.9;
        }
    }

    //add caterogy
    .grid-category-container {
        display: none;
        flex-direction: column;
    }

    .grid-category-center {
        display: flex;
        flex-flow: row;
        position: relative;
        margin-top: 20px;
        height: 40px;
    }

    .edit-label-detail {
        display: flex;
        align-items: center;
        font-weight: 400;
        padding-right: 24px;
        position: relative;
        min-height: 40px;
        text-align: right;
        color: #666;
        position: relative;
        margin-left: 20px;
    }

    .edit-input-detail {
        flex-basis: 300px;
        width: 300px;
        max-width: 770px;
    }

    .shopee-input {
        position: relative;
        line-height: 22px;
    }

    .shopee-input__inner {
        height: 40px;
        padding: 0 12px;
        position: relative;
        display: inline-table;
        width: 100%;
        font-size: 14px;
        background-color: #fff;
        border-collapse: separate;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        outline: none;
        transition: border 0.2s ease-in-out;
    }

    .shopee-input__input {
        color: #333;
        height: 38px;
        font-size: 14px;
        border-radius: 4px;
        display: table-cell;
        width: 100%;
        padding: 0;
        vertical-align: middle;
        background-color: inherit;
        border: 0;
        outline: none;
        box-sizing: border-box;
        padding-left: 5px;
    }

    .btn-add-category-perform {
        position: relative;
        margin-top: 20px;
        //margin-left: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    //update
    .grid-category-container-update {
        display: none;
        flex-direction: column;
    }

    //form delete category
    .delete-modal__container {
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 10;
    }
    .delete-modal__box {
        display: flex;
        width: 300px;
        height: 184px;
        //padding: 0 24px;
        position: relative;
        z-index: 11;
    }

    .delete-modal__content {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        z-index: 13;
    }

    .delete-modal__header {
        height: 104px;
        width: 100%;
    }

    .delete-modal__header-inner-confirm {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        height: 72px;
        overflow: hidden;
        font-size: 20px;
        font-weight: 500;
        color: #333;
        text-overflow: ellipsis;
        word-break: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .delete-modal__header-inner-title {
        height: 32px;
        flex-grow: 1;
        min-height: 32px;
        padding: 0 24px;
        overflow: auto;
        font-size: 14px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .delete-modal__footer {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 24px;
        overflow: hidden;
    }

    .delete-modal__footer-buttons {
        display: inline-flex;
        float: right;
    }

    .delete-button--normal {
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
        color: #333;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        position: relative;
        align-items: center;
        -webkit-box-pack: center;
        display: inline-flex;
        -webkit-box-align: center;
        justify-content: center;
        height: 32px;
        min-width: 72px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        outline: none;

        &:hover {
            background-color: rgb(229, 228, 228);
        }
    }

    .delete-button--primary {
        margin-left: 16px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
        color: #fff;
        background-color: #ee4d2d;
        border-color: #ee4d2d;
        border: 1px solid #e5e5e5;
        position: relative;
        align-items: center;
        -webkit-box-pack: center;
        display: inline-flex;
        -webkit-box-align: center;
        justify-content: center;
        height: 32px;
        min-width: 72px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        outline: none;
    }

    ///weight
    ///add
    .grid-weight-container {
        display: none;
        flex-direction: column;
    }
    //update
    .grid-weight-container-update {
        display: none;
        flex-direction: column;
    }

    //form delete weight
    .delete-weight-modal__container {
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 10;
    }

    //pag
    .pagination {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 8px;
        margin-bottom: 19px;
        font-size: 1.6rem;
        gap: 5px;

        .page-num {
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-fisrt {
            padding: 5px 5px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-last {
            padding: 5px 14px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }
        .active {
            background-color: #5ab1bb;
        }
    }
}
@media only screen and (min-width: 46.1875em) {
    .product-edit__section {
        padding: 32px 40px;
        box-shadow: 0 0.2rem 0.4rem rgba(45, 44, 44, 0.09);
        z-index: 0;
    }

    .grid {
        display: flex;
        flex-flow: row;
        position: relative;
        margin-top: 10px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .grid-detail {
        display: flex;
        flex-flow: row;
        position: relative;
        margin-top: 10px;
    }

    .edit-label {
        display: flex;
        align-items: center;
        font-weight: 400;
        padding-right: 24px;
        position: relative;
        min-height: 40px;
        text-align: right;
        color: #666;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .input-Weight {
        padding: 11px 12px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        outline: none;
        transition: border 0.2s ease-in-out;
        position: relative;
        display: inline-table;
        width: 750px;
        font-size: 14px;
        line-height: 16px;
        color: #333;
        cursor: pointer;
        background-color: #fff;
        border-collapse: separate;
        border-spacing: 0;
        box-sizing: border-box;
    }

    //table

    .grid-table-container {
        position: relative;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .table__header {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .table__header-tr {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #e5e5e5;
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        background-color: #f6f6f6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
    }

    .td_table-name {
        width: 380px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .td_table-name_link {
        width: 420px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 19px;
        font-size: 1.5rem;
    }

    .td_table-name_detail {
        width: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            color: #ee4d2d;
        }
    }

    //add
    .grid-detail-category {
        display: flex;
        justify-content: space-between;
        width: 400px;
        position: relative;
        margin-top: 30px;
        margin-left: 60px;
    }

    //btn
    .delete-button {
        margin-left: 16px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
        color: #fff;
        background-color: #ee4d2d;
        border: 1px solid #e5e5e5;
        position: relative;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        height: 32px;
        min-width: 72px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        appearance: none;

        &:hover {
            opacity: 0.9;
        }
    }

    //add caterogy
    .grid-category-container {
        display: none;
        flex-direction: column;
    }

    .grid-category-center {
        display: flex;
        flex-flow: row;
        position: relative;
        margin-top: 20px;
        height: 80px;
    }

    .edit-label-detail {
        display: flex;
        align-items: center;
        font-weight: 400;
        padding-right: 24px;
        position: relative;
        min-height: 40px;
        text-align: right;
        color: #666;
        position: relative;
        margin-left: 20px;
    }

    .edit-label-detail_link {
        display: flex;
        align-items: center;
        font-weight: 400;
        padding-right: 24px;
        position: relative;
        min-height: 40px;
        text-align: right;
        color: #666;
        position: relative;
        margin-left: 43px;
    }

    .edit-input-detail {
        flex-basis: 667px;
        width: 100%;
        max-width: 770px;
    }

    .shopee-input {
        position: relative;
        line-height: 22px;
    }

    .shopee-input__inner {
        height: 70px;
        padding: 7px 10px;
        position: relative;
        display: inline-table;
        width: 100%;
        font-size: 14px;
        background-color: #fff;
        border-collapse: separate;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        outline: none;
        transition: border 0.2s ease-in-out;
    }

    .shopee-input__input {
        color: #333;
        height: 81px;
        font-size: 14px;
        border-radius: 4px;
        display: table-cell;
        width: 100%;
        padding: 0;
        vertical-align: middle;
        background-color: inherit;
        border: 0;
        outline: none;
        box-sizing: border-box;
        padding-left: 5px;
    }

    .btn-add-category-perform {
        position: relative;
        margin-top: 40px;
        //margin-left: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    //update
    .grid-category-container-update {
        display: none;
        flex-direction: column;
    }

    //form delete category
    .delete-modal__container {
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 10;
    }
    .delete-modal__box {
        display: flex;
        width: 400px;
        height: 184px;
        padding: 0 24px;
        position: relative;
        z-index: 11;
    }

    .delete-modal__content {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        z-index: 13;
    }

    .delete-modal__header {
        height: 104px;
        width: 100%;
    }

    .delete-modal__header-inner-confirm {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        height: 72px;
        overflow: hidden;
        font-size: 20px;
        font-weight: 500;
        color: #333;
        text-overflow: ellipsis;
        word-break: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .delete-modal__header-inner-title {
        height: 32px;
        flex-grow: 1;
        min-height: 32px;
        padding: 0 24px;
        overflow: auto;
        font-size: 14px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
    }

    .delete-modal__footer {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding: 24px;
        overflow: hidden;
    }

    .delete-modal__footer-buttons {
        display: inline-flex;
        float: right;
    }

    .delete-button--normal {
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
        color: #333;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        position: relative;
        align-items: center;
        -webkit-box-pack: center;
        display: inline-flex;
        -webkit-box-align: center;
        justify-content: center;
        height: 32px;
        min-width: 72px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        outline: none;

        &:hover {
            background-color: rgb(229, 228, 228);
        }
    }

    .delete-button--primary {
        margin-left: 16px;
        font-family: Helvetica Neue, Helvetica, RobotoRegular, Droid Sans, Arial, sans-serif;
        color: #fff;
        background-color: #ee4d2d;
        border-color: #ee4d2d;
        border: 1px solid #e5e5e5;
        position: relative;
        align-items: center;
        -webkit-box-pack: center;
        display: inline-flex;
        -webkit-box-align: center;
        justify-content: center;
        height: 32px;
        min-width: 72px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 4px;
        outline: none;
    }

    ///weight
    ///add
    .grid-weight-container {
        display: none;
        flex-direction: column;
    }
    //update
    .grid-weight-container-update {
        display: none;
        flex-direction: column;
    }

    //form delete weight
    .delete-weight-modal__container {
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 10;
    }

    //table product
    .product-list-table {
        position: relative;
        background: #fff;
        transition: opacity 0.5s ease;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin: 1px;
    }

    // .shopee-table__header-container {
    //     margin: -1px;
    //     border-radius: 4px;
    //     margin-bottom: 0;
    //     border-bottom-right-radius: 0;
    //     border-bottom-left-radius: 0;
    //     position: relative;
    //     z-index: 1;
    //     flex-shrink: 0;
    //     //background-color: #f6f6f6;
    // }

    .shopee-table__header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .table__header-product {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #e5e5e5;
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        background-color: #f6f6f6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
    }

    .table__header-conten {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
        width: 100%;
        height: 70px;
    }

    .table__header-conten-color {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;
        width: 100%;
        height: 70px;
        background-color: #f7f3f3;
    }

    .td_table-name-product {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .td_table-name-number {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .td_table-name-sp {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        margin-left: 10px;
    }

    .name-product-sp {
        height: 35px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        position: relative;
        margin-left: 5px;
    }

    //pag
    .pagination {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 8px;
        margin-bottom: 19px;
        font-size: 1.6rem;
        gap: 5px;

        .page-num {
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-fisrt {
            padding: 5px 5px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-last {
            padding: 5px 14px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }
        .active {
            background-color: #5ab1bb;
        }
    }
}
