.wrapper {
    width: var(--default-layout-width);
}
._1nrPtQ {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5rem;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 1.7rem;
    background: #fff;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
}

._27GGo9 {
    color: rgba(0, 0, 0, 0.8);
    width: 490px;
}

._3hJbyz {
    width: 174px;
    text-align: center;
}

._155Uu2 {
    width: 169px;
    text-align: center;
}

._10ZkNr {
    width: 130px;
    text-align: center;
}

._1coJFb {
    width: 150px;
    text-align: center;
}
