@media only screen and (max-width: 740px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        width: 390px;
        max-width: 390px;
    }
}

@media only screen and (min-width: 740px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        width: var(--default-layout-width);
        max-width: 100%;
        margin-bottom: 25px;
    }
}
