body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font: 12pt 'Tahoma';
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    min-height: 280mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    //padding: 1cm;
    //border: 5px red solid;
    height: 192mm;
    //outline: 2cm #ffeaea solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
    }
}

@page {
    size: auto;
    margin: 0mm;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.inner {
    //width: 650px;
    //padding: 20px;
    // background-color: #fff;
    // -webkit-box-shadow: 0 0.2rem 0.4rem #333;
    // box-shadow: 0 0.2rem 0.4rem #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bill-print-detail {
    width: 167mm;
    height: 240mm;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-print {
    height: 130px;
    width: 100%;
    max-width: 650px;
    padding: 0px 10px;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.id-bill-print {
    font-size: 2rem;
    font-weight: 700;
}

.shop-print-infomation {
    max-height: 400px;
    height: 230px;
    width: 100%;
    padding: 0px 10px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    display: flex;
}

.from-seller {
    font-style: italic;
    flex: inherit;
    padding: 10px 10px 10px 0px;
    border-right: 2px solid #333;
}

.to-print,
.from-print {
    font-weight: 700;
    position: relative;
    margin-bottom: 5px;
}

.from-user {
    font-style: italic;
    flex: inherit;
    padding: 10px 0px 10px 10px;
}

.conten-product {
    max-height: 900px;
    min-height: 250px;
    width: 100%;
    padding: 10px 10px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
}

.content-title {
    position: relative;
    font-weight: 700;
}

.content-product-detail {
    display: flex;
    position: relative;
    margin-top: 10px;
}

.stt-product {
    position: relative;
    margin-right: 5px;
}

.number-product {
    position: relative;
    margin-left: 5px;
}

.regulations-shop {
    max-height: 400px;
    height: 209px;
    width: 100%;
    padding: 0px 10px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    display: flex;
}

.content-regulations-shop {
    font-style: italic;
    font-weight: 500;
    padding-right: 10px;
    border-right: 2px solid #333;
    padding-top: 20px;
    height: 199px;
}

.date-order {
    flex: 1 1 1;
    width: 200px;
    padding-left: 10px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.date-content {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 5px;
    font-style: italic;
}

.money-user {
    max-height: 400px;
    height: 165px;
    width: 100%;
    padding: 10px 10px;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    display: flex;
}

.money-user-details {
    display: flex;
    padding-right: 10px;
    flex-direction: column;
}

.money-title {
    padding: 10px 0px 10px;
    font-weight: 700;
}

.money-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 130px;
    font-size: 2rem;
    font-weight: 700;
}

.signature-user {
    width: 250px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border: 2px solid rgb(2, 0, 0);
}

.signature-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.signature-content {
    width: 200px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.logo-print {
    background-color: #333;
}

.image-logo {
    background-color: #333;
    width: 150px;
    height: 60px;
    color: black;
}

.content-regulations-note {
    padding: 10px 0px;
    color: rgb(246, 50, 50);
}

.content-name-product {
    width: 490px;
    display: flex;
}

.address {
    display: flex;
    flex-direction: column;
}

.name-shop {
    padding: 10px 0px;
}

.address-shop {
    line-height: 25px;
    padding: 0px 0px 10px 0px;
}

.name-user {
    padding: 10px 0px;
}

.address-user {
    line-height: 25px;
    padding: 0px 0px 10px 0px;
}
