@media only screen and (max-width: 46.1875em) {
    .ZgwlcK {
        display: flex;
        width: var(--default-layout-width-mobile);
    }

    .shop-search-item-result {
        width: 100%;
    }

    .shop-search-result-header {
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0px 0px 24px 0px;
        color: #555;
        width: 100%;
        margin-top: 20px;
    }

    .icon-light-bulb {
        position: relative;
        top: 2px;
        width: 16px;
        height: 22px;
        margin: 0px 12px 0px 0px;
        color: rgb(254, 254, 43);
    }

    .shop-search-result-header__text {
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 3px 0px;
        color: #555;
    }

    .shop-sort-bar {
        font-weight: 400;
        background: rgba(0, 0, 0, 0.03);
        padding: 13px 20px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-bet;
    }

    .shop-sort-bar__label {
        color: #555;
        margin: 0px 5px 0px 0px;
    }

    .shop-sort-by-options {
        display: flex;
        align-items: stretch;
        flex: 1;
        justify-content: flex-start;
    }

    .shop-price-range-filter__edit {
        width: 300px;
        height: 34px;
    }

    .shop-price-range-filter__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shop-price-range-filter__input {
        width: 80px;
        height: 34px;
        background-color: #fff;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.26);
        box-sizing: border-box;
        padding: 1px 2px 1px 5px;
        font-size: 1.5rem;
        border-radius: 0.125rem;
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
    }

    .shop-price-range-filter__range-line {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 1px;
        width: 10px;
        background-color: #bdbdbd;
        margin: 0px 10px;
        position: relative;
        z-index: 2;
    }

    .shop-button-solid--primary_kcCIDE {
        margin-left: 20px;
        height: 30px;
        text-transform: uppercase;
        font-weight: 400;
        width: 94px;
        position: relative;
        overflow: visible;
        outline: 0;
        background: #ee4d2d;
        cursor: pointer;
        line-height: 1;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: opacity 0.2s ease;
        border-radius: 2px;
        user-select: none;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    }

    .shop-price-range-filter__error {
        display: none;
        text-align: center;
        color: #ff424f;
        font-size: 1.5rem;
    }

    //product

    .row {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        background-color: #f4f3f3;
        margin-top: 5px;
    }

    .shop-search-result-view__item-col-xs-2-4 {
        margin-top: 10px;
        flex-basis: 20%;
        width: 193px;
        //max-width: 183px;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 5px;
        padding-left: 5px;

        &:hover {
            margin-top: 5px;
        }
    }

    ._3DGyGY {
        height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ._3ZU4Xu {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
        border-radius: 0.125rem;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: relative;
        overflow: visible;
        cursor: pointer;
        transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1),
            -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.6, 1);
        height: 100%;
        box-sizing: border-box;
    }

    .nHUlre_2CaWwM {
        width: 100%;
        padding-top: 100%;
        position: relative;
    }

    .yFkmMY_1KQ1MG {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        vertical-align: bottom;
        object-fit: contain;
    }

    ._3atTkb {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .CNco3q_2PoYxv_HpfQ6t {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-weight: 400;
        line-height: 15px;
        color: #ee4d2d;
        text-transform: uppercase;
        font-size: 1.3rem;
        box-sizing: border-box;
        background-color: rgba(255, 212, 36, 0.9);
    }

    .percent {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-weight: 400;
        line-height: 15px;
        color: #ee4d2d;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    ._338wTY {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-weight: 400;
        line-height: 15px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    ._2477Dv {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        padding: 8px;
        overflow: hidden;
    }

    ._1G5uNe {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: column;
        background: #fff;
        position: relative;
        overflow: visible;
    }

    ._2mQnW2 {
        flex-grow: 1;
        min-height: 20px;
    }

    ._3Gla5X_2j2K92_3j20V6 {
        display: flex;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 21px;
        font-size: 1.6rem;
    }

    ._3CsOH6 {
        padding: 8px 0 0;
        display: flex;
        height: 28px;
        align-items: center;
        overflow: hidden;
    }

    ._3w3Slt_1NAEoM {
        display: inline;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 0;
        color: #ee4d2d;
        max-width: 100%;
        transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    }

    ._2whgI2 {
        margin-right: 15px;
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.54);
        font-size: 1.3rem;
    }

    ._3UeJ1q {
        display: flex;
        align-items: center;
        height: 20px;
        margin-top: 12px;
    }

    ._3VDfUA {
        color: rgba(0, 0, 0, 0.26);
        cursor: pointer;
        font-size: 1.4rem;
        overflow: hidden;
        flex-shrink: 0;
    }

    .shop-rating-stars {
        position: relative;
        display: inline-block;
        color: rgba(0, 0, 0, 0.26);
        cursor: pointer;
        font-size: 1.4rem;
        overflow: hidden;
        flex-shrink: 0;
    }

    .shop-rating-stars__stars {
        display: flex;
        color: rgba(0, 0, 0, 0.26);
        cursor: pointer;
        font-size: 1.4rem;
        overflow: hidden;
        flex-shrink: 0;
    }

    .shop-rating-stars__star-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 1px;
    }

    .shop-rating-stars__gold-star {
        display: inline-block;
        width: 1em;
        height: 1em;
        fill: currentColor;
        position: relative;
        color: #ffce3d;
        left: 0;
        overflow-x: hidden;
    }

    ._2Tc7Qg_2R-Crv {
        margin-left: 2px;
        font-size: 1.5rem;
    }

    //pag
    .pagination {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 15px;
        margin-bottom: 19px;
        font-size: 1.6rem;
        gap: 5px;

        .page-num {
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-fisrt {
            padding: 5px 5px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-last {
            padding: 5px 5px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }
        .active {
            background-color: #5ab1bb;
        }
    }

    .shop-search-empty-result-section__hint {
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.54);
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 46.1875em) {
    .ZgwlcK {
        display: flex;
        width: var(--default-layout-width);
    }

    .shop-search-item-result {
        width: 100%;
    }

    .shop-search-result-header {
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        font-weight: 400;
        margin: 0px 0px 24px 0px;
        color: #555;
        width: 100%;
        margin-top: 20px;
    }

    .icon-light-bulb {
        position: relative;
        top: 2px;
        width: 16px;
        height: 22px;
        margin: 0px 12px 0px 0px;
        color: rgb(254, 254, 43);
    }

    .shop-search-result-header__text {
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 3px 0px;
        color: #555;
    }

    .shop-sort-bar {
        font-weight: 400;
        background: rgba(0, 0, 0, 0.03);
        padding: 13px 20px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-bet;
    }

    .shop-sort-bar__label {
        color: #555;
        margin: 0px 5px 0px 0px;
    }

    .shop-sort-by-options {
        display: flex;
        align-items: stretch;
        flex: 1;
        justify-content: flex-start;
    }

    .shop-price-range-filter__edit {
        width: 300px;
        height: 34px;
    }

    .shop-price-range-filter__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .shop-price-range-filter__input {
        width: 80px;
        height: 34px;
        background-color: #fff;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.26);
        box-sizing: border-box;
        padding: 1px 2px 1px 5px;
        font-size: 1.5rem;
        border-radius: 0.125rem;
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
    }

    .shop-price-range-filter__range-line {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 1px;
        width: 10px;
        background-color: #bdbdbd;
        margin: 0px 10px;
        position: relative;
        z-index: 2;
    }

    .shop-button-solid--primary_kcCIDE {
        margin-left: 20px;
        height: 30px;
        text-transform: uppercase;
        font-weight: 400;
        width: 94px;
        position: relative;
        overflow: visible;
        outline: 0;
        background: #ee4d2d;
        cursor: pointer;
        line-height: 1;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: opacity 0.2s ease;
        border-radius: 2px;
        user-select: none;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    }

    .shop-price-range-filter__error {
        display: none;
        text-align: center;
        color: #ff424f;
        font-size: 1.5rem;
    }

    //product

    .row {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        background-color: #f4f3f3;
        margin-top: 5px;
    }

    .shop-search-result-view__item-col-xs-2-4 {
        margin-top: 10px;
        flex-basis: 20%;
        width: 193px;
        //max-width: 183px;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 5px;
        padding-left: 5px;

        &:hover {
            margin-top: 5px;
        }
    }

    ._3DGyGY {
        height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ._3ZU4Xu {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
        border-radius: 0.125rem;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: relative;
        overflow: visible;
        cursor: pointer;
        transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1), box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1),
            -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.6, 1);
        height: 100%;
        box-sizing: border-box;
    }

    .nHUlre_2CaWwM {
        width: 100%;
        padding-top: 100%;
        position: relative;
    }

    .yFkmMY_1KQ1MG {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        vertical-align: bottom;
        object-fit: contain;
    }

    ._3atTkb {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .CNco3q_2PoYxv_HpfQ6t {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-weight: 400;
        line-height: 15px;
        color: #ee4d2d;
        text-transform: uppercase;
        font-size: 1.3rem;
        box-sizing: border-box;
        background-color: rgba(255, 212, 36, 0.9);
    }

    .percent {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-weight: 400;
        line-height: 15px;
        color: #ee4d2d;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    ._338wTY {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        font-weight: 400;
        line-height: 15px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    ._2477Dv {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        padding: 8px;
        overflow: hidden;
    }

    ._1G5uNe {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: column;
        background: #fff;
        position: relative;
        overflow: visible;
    }

    ._2mQnW2 {
        flex-grow: 1;
        min-height: 20px;
    }

    ._3Gla5X_2j2K92_3j20V6 {
        display: flex;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 21px;
        font-size: 1.6rem;
    }

    ._3CsOH6 {
        padding: 8px 0 0;
        display: flex;
        height: 28px;
        align-items: center;
        overflow: hidden;
    }

    ._3w3Slt_1NAEoM {
        display: inline;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 0;
        color: #ee4d2d;
        max-width: 100%;
        transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    }

    ._2whgI2 {
        margin-right: 15px;
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.54);
        font-size: 1.3rem;
    }

    ._3UeJ1q {
        display: flex;
        align-items: center;
        height: 20px;
        margin-top: 12px;
    }

    ._3VDfUA {
        color: rgba(0, 0, 0, 0.26);
        cursor: pointer;
        font-size: 1.4rem;
        overflow: hidden;
        flex-shrink: 0;
    }

    .shop-rating-stars {
        position: relative;
        display: inline-block;
        color: rgba(0, 0, 0, 0.26);
        cursor: pointer;
        font-size: 1.4rem;
        overflow: hidden;
        flex-shrink: 0;
    }

    .shop-rating-stars__stars {
        display: flex;
        color: rgba(0, 0, 0, 0.26);
        cursor: pointer;
        font-size: 1.4rem;
        overflow: hidden;
        flex-shrink: 0;
    }

    .shop-rating-stars__star-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 1px;
    }

    .shop-rating-stars__gold-star {
        display: inline-block;
        width: 1em;
        height: 1em;
        fill: currentColor;
        position: relative;
        color: #ffce3d;
        left: 0;
        overflow-x: hidden;
    }

    ._2Tc7Qg_2R-Crv {
        margin-left: 2px;
        font-size: 1.5rem;
    }

    //pag
    .pagination {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: 15px;
        margin-bottom: 19px;
        font-size: 1.6rem;
        gap: 5px;

        .page-num {
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-fisrt {
            padding: 5px 5px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }

        .page-num-last {
            padding: 5px 5px;
            cursor: pointer;
            border-radius: 3px;
            border: 0.1px solid #d6d6d6;

            &:hover {
                background-color: #5ab1bb;
                color: #fff;
            }
        }
        .active {
            background-color: #5ab1bb;
        }
    }

    .shop-search-empty-result-section__hint {
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.54);
        width: 100%;
        text-align: center;
    }
}
