@media only screen and (max-width: 740px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex: 1;
    }
    .container1 {
        display: flex;
        width: 395px;
    }
    .container {
        display: flex;
        width: 395px;
    }

    .footer {
        position: relative;
        top: 700px;
    }
}

@media only screen and (min-width: 740px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex: 1;
        position: relative;
        z-index: 1;
    }
    .container1 {
        display: flex;
        width: var(--default-layout-width);
        max-width: 100%;
        position: relative;
        top: 0px;
        margin-top: 3px;
    }
    .container2 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    }
    .container {
        display: none;
        width: var(--default-layout-width);
        max-width: 100%;
    }

    .footer {
        position: relative;
        top: 70px;
    }
}
