@media only screen and (max-width: 46.1875em) {
    .wrapper {
        --search-border-radius: 50px;
        --search-height: 25px;
        --search-top-spacer: 3px;
        --search-button-width: 30px;

        width: 390px;
        height: 50px;
        box-shadow: 0px 1px 1px rgba(22, 24, 35, 0.12);
        display: flex;
        //justify-content: center;
        padding: 10px;
    }

    .inner {
        height: 100%;
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: none;
    }

    .home-page-zytl {
        display: none;
        position: absolute;
        top: 1px;
        margin-left: 100px;
    }

    .home-page-zytlt1 {
        color: #fe2c55 !important;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .introduce-page-zytl {
        display: none;
        position: absolute;
        top: 1px;
        margin-left: 200px;
    }

    .introduce-page-zytlt1 {
        color: #fe2c55 !important;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .video-logo {
        width: 60px;
        height: 60px;
    }

    //Actions

    .action {
        width: 130px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .more-btn {
        font-size: 1.8rem;
        padding: 6px;
        background: transparent;
        cursor: pointer;
    }

    .action-btn {
        display: flex;
        position: relative;
        .inbox-icon {
            width: 2.3rem;
            height: 2.3rem;
        }
    }

    .action-btn-cart {
        position: relative;
        display: flex;
        color: #161823;

        font-size: 1rem;
        background: transparent;
        cursor: pointer;
        .cart-icon {
            width: 2rem;
            height: 2rem;
        }
    }

    .badge {
        position: absolute;
        top: -3px;
        right: -2px;
        padding: 0px 3px;
        height: 14px;
        line-height: 16px;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--white);
        font-family: 'ProximaNova', sans-serif;
        background-color: var(--primary);
    }

    .user-avatar {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }
    .toast-toastify-message {
    }
}

@media only screen and (min-width: 740px) {
    .wrapper {
        --search-border-radius: 92px;
        --search-height: 45px;
        --search-top-spacer: 9px;
        --search-button-width: 52px;

        width: 100%;
        height: 120px;
        box-shadow: 0px 1px 1px rgba(22, 24, 35, 0.12);
        display: flex;
        justify-content: center;
    }

    .inner {
        height: 100%;
        width: var(--default-layout-width, 1150px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 4px solid #ee4d2d;
    }

    .home-page-zytl {
        position: absolute;
        top: 1px;
        margin-left: 100px;
        padding: 3px 0px;
    }

    .home-page-zytlt1 {
        color: #fe2c55 !important;
        font-size: 1.7rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .introduce-page-zytl {
        position: absolute;
        top: 1px;
        margin-left: 200px;
        padding: 3px 0px;
    }

    .introduce-page-zytlt1 {
        color: #fe2c55 !important;
        font-size: 1.7rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    .video-logo {
        width: 60px;
        height: 60px;
    }

    //Actions

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        padding: 0px 20px;
    }

    .more-btn {
        font-size: 1.8rem;
        margin-left: 20px;
        padding: 6px;
        background: transparent;
        cursor: pointer;
    }

    .action-btn,
    .action-btn-cart {
        position: relative;
        display: flex;
        color: #161823;
        font-size: 2.4rem;
        background: transparent;
        padding: 4px 12px;
        cursor: pointer;
    }

    .badge {
        position: absolute;
        top: -3px;
        right: 0px;
        padding: 0px 6px;
        height: 2rem;
        line-height: 2rem;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        font-family: 'ProximaNova', sans-serif;
        background-color: var(--primary);
    }

    .user-avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 12px;
        cursor: pointer;
    }
    // Toastify

    //link seller
    .link-seller {
        position: absolute;
        top: 4px;
        margin-left: 300px;
        font-size: 1.7rem;
        color: rgb(221, 34, 34) !important;
        cursor: pointer;

        &:hover {
            color: #222 !important;
        }
    }
}
