@media only screen and (max-width: 46.1875em) {
    .wrapper {
        --search-border-radius: 50px;
        --search-height: 31px;
        --search-top-spacer: 3px;
        --search-button-width: 30px;

        width: 100%;
        height: var(--default-layout-header-height, 50px);
        box-shadow: 0px 1px 1px rgba(22, 24, 35, 0.12);
        display: flex;
        justify-content: center;
    }

    .inner {
        height: 100%;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .video-logo {
        width: 30px;
        height: 30px;
    }

    //Actions

    .action {
        display: flex;
        align-items: center;
    }

    .more-btn {
        font-size: 1.8rem;
        padding: 6px;
        background: transparent;
        cursor: pointer;
    }

    .action-btn {
        position: relative;
        display: none;
        color: #161823;

        font-size: 1rem;
        background: transparent;
        padding: 4px 12px;
        cursor: pointer;
        .cart-icon {
            width: 1.8rem;
            height: 1.8rem;
        }
        .inbox-icon {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .badge {
        position: absolute;
        top: -3px;
        right: 0px;
        padding: 0px 6px;
        height: 2rem;
        line-height: 2rem;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        font-family: 'ProximaNova', sans-serif;
        background-color: var(--primary);
    }

    .user-avatar {
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 12px;
        cursor: pointer;
    }

    //Login/SignUp

    .main {
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        inset: 0px;
        z-index: 10;
        animation: fadeIn linear 0.5s;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .form {
        max-width: 400px;
        width: 360px;
        max-height: 100%;
        padding: 32px 24px;
        text-align: center;
        background: #fff;
        border-radius: 2px;
        margin: 24px;
        align-self: center;
        box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
        overflow-y: auto;
    }
    .form-sign-up {
        max-width: 400px;
        width: 360px;
        max-height: 100%;
        padding: 32px 24px;
        text-align: center;
        background: #fff;
        border-radius: 2px;
        margin: 24px;
        align-self: center;
        box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
        overflow-y: auto;
    }

    .btn-icon-close {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        position: relative;
        bottom: 15px;
        left: 5px;
        cursor: pointer;
    }

    .btn-icon-back {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        position: relative;
        bottom: 15px;
        left: 5px;
        cursor: pointer;
    }

    .form .heading {
        font-size: 2rem;
    }
    .form .desc {
        text-align: center;
        color: #636d77;
        font-size: 1.6rem;
        font-weight: lighter;
        line-height: 2.4rem;
        margin-top: 16px;
        font-weight: 300;
    }

    .form_group {
        display: flex;
        margin-bottom: 7px;
        flex-direction: column;
    }
    .form_group-control {
        display: flex;
        margin-bottom: 7px;
        flex-direction: column;
    }

    .form_group-control-image {
        width: 260px;
        display: flex;
        margin: 7px;
    }

    .form_label,
    .form-message {
        text-align: left;
    }

    .form_label {
        font-weight: 700;
        padding-bottom: 6px;
        line-height: 1.8rem;
        font-size: 1.4rem;
    }

    .form_control {
        height: 40px;
        padding: 8px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none;
        font-size: 1.4rem;
    }

    .form-control:hover {
        border-color: #1dbfaf;
    }

    .form-group.invalid .form-control {
        border-color: #f33a58;
    }

    .form-group.invalid .form-message {
        color: #f33a58;
    }

    .form-message {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 4px 0 0;
    }

    .spacer {
        margin-top: 36px;
    }

    .sign-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 0px 0px;
    }

    .loginLink-header {
        color: var(--primary);
        cursor: pointer;
        padding: 0px 0px 0px 5px;
    }

    //lỗi

    .form_message {
        color: red;
        font-size: 1.2rem;
        padding: 5px 0px;
    }

    .login_button-google,
    .login_button-facebook {
        width: 100%;
        padding: 5px 0px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(22, 24, 35, 0.12);
        box-shadow: 0px 2px 8px rgba(22, 24, 35, 0.12);
        font-weight: bold;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }

    .login_button-google {
        color: #dc4e41;
    }

    .login_button-facebook {
        color: #1877f2;
    }

    .icon {
        width: 26px;
        height: 26px;
        padding-right: 10px;
    }

    //btn image
    .img-preview {
        display: none;
        justify-content: center;
        align-items: center;
        width: 60px;
        border: 2px dashed #333;
        position: relative;
        left: 20px;
    }

    [type='file'] {
        height: 0;
        overflow: hidden;
        width: 0;
    }

    .form_label-image {
        background: #f15d22;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        outline: none;
        padding: 8px 15px;
        position: relative;
        transition: all 0.3s;
        //vertical-align: middle;

        &:hover {
            background-color: darken(#f15d22, 10%);
        }
    }
}

@media only screen and (min-width: 740px) {
    .wrapper {
        --search-border-radius: 92px;
        --search-height: 46px;
        --search-top-spacer: 9px;
        --search-button-width: 52px;

        width: 100%;
        height: var(--default-layout-header-height, 60px);
        box-shadow: 0px 1px 1px rgba(22, 24, 35, 0.12);
        display: flex;
        justify-content: center;
    }

    .inner {
        height: 100%;
        width: var(--default-layout-width, 1150px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .video-logo {
        width: 60px;
        height: 60px;
    }

    //Actions

    .action {
        display: flex;
        align-items: center;
    }

    .more-btn {
        font-size: 1.8rem;
        margin-left: 20px;
        padding: 6px;
        background: transparent;
        cursor: pointer;
    }

    .action-btn {
        position: relative;
        display: flex;
        color: #161823;
        font-size: 2.4rem;
        background: transparent;
        padding: 4px 12px;
        cursor: pointer;
    }

    .badge {
        position: absolute;
        top: -3px;
        right: 0px;
        padding: 0px 6px;
        height: 2rem;
        line-height: 2rem;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        font-family: 'ProximaNova', sans-serif;
        background-color: var(--primary);
    }

    .user-avatar {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 12px;
        cursor: pointer;
    }

    //Login/SignUp

    .main {
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        position: fixed;
        inset: 0;
        z-index: 10;
    }
    .form {
        max-width: 400px;
        width: 360px;
        max-height: 100%;
        padding: 32px 24px;
        text-align: center;
        background: #fff;
        border-radius: 2px;
        margin: 24px;
        align-self: center;
        box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
        overflow-y: auto;
    }
    .form-sign-up {
        max-width: 900px;
        width: 600px;
        max-height: 100%;
        padding: 32px 24px;
        text-align: center;
        background: #fff;
        border-radius: 2px;
        margin: 24px;
        align-self: center;
        box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
        overflow-y: auto;
    }

    .btn-icon-close {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        position: relative;
        bottom: 15px;
        left: 5px;
        cursor: pointer;
    }

    .btn-icon-back {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        position: relative;
        bottom: 15px;
        left: 5px;
        cursor: pointer;
    }

    .form .heading {
        font-size: 2rem;
    }
    .form .desc {
        text-align: center;
        color: #636d77;
        font-size: 1.6rem;
        font-weight: lighter;
        line-height: 2.4rem;
        margin-top: 16px;
        font-weight: 300;
    }

    .form_group-sign-up {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .form_group {
        display: flex;
        margin: 8px;
        flex-direction: column;
    }

    .form_group-control {
        width: 260px;
        display: flex;
        margin: 8px;
        flex-direction: column;
    }

    .form_group-control-image {
        width: 260px;
        display: flex;
        margin: 8px;
    }

    .form_label,
    .form-message {
        text-align: left;
    }

    .form_label {
        font-weight: 700;
        padding-bottom: 6px;
        line-height: 1.8rem;
        font-size: 1.4rem;
    }

    .form_control {
        height: 40px;
        padding: 8px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none;
        font-size: 1.4rem;
    }
    // .form_control-mail {
    //     height: 40px;
    //     padding: 8px 12px;
    //     border: 1px solid #b3b3b3;
    //     border-radius: 3px;
    //     outline: none;
    //     font-size: 1.4rem;
    // }

    .form-control:hover {
        border-color: #1dbfaf;
    }

    .form-group.invalid .form-control {
        border-color: #f33a58;
    }

    .form-group.invalid .form-message {
        color: #f33a58;
    }

    .form-message {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 4px 0 0;
    }

    .spacer {
        margin-top: 36px;
    }

    .sign-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 0px 0px;
    }

    .loginLink-header {
        color: var(--primary);
        cursor: pointer;
        padding: 0px 0px 0px 5px;
    }

    //lỗi

    .form_message {
        color: red;
        font-size: 1.2rem;
        padding: 5px 0px;
    }
    //button google
    .login_button-google,
    .login_button-facebook {
        width: 100%;
        padding: 5px 0px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(22, 24, 35, 0.12);
        box-shadow: 0px 2px 8px rgba(22, 24, 35, 0.12);
        font-weight: bold;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }

    .login_button-google {
        color: #dc4e41;
    }

    .login_button-facebook {
        color: #1877f2;
    }

    .icon {
        width: 26px;
        height: 26px;
        padding-right: 10px;
    }

    //btn image
    .img-preview {
        display: none;
        justify-content: center;
        align-items: center;
        width: 60px;
        border: 2px dashed #333;
        position: relative;
        left: 20px;
    }

    [type='file'] {
        height: 0;
        overflow: hidden;
        width: 0;
    }

    .form_label-image {
        background: #f15d22;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: inherit;
        font-weight: 500;
        outline: none;
        padding: 15px 19px;
        position: relative;
        transition: all 0.3s;
        vertical-align: middle;

        &:hover {
            background-color: darken(#f15d22, 10%);
        }

        .form_label-image {
            background-color: #99c793;
            border-radius: 50px;
            overflow: hidden;

            &::before {
                color: #fff;
                content: '\f382';
                font-family: 'Font Awesome 5 Pro';
                font-size: 100%;
                height: 100%;
                right: 130%;
                line-height: 3.3;
                position: absolute;
                top: 0px;
                transition: all 0.3s;
            }

            &:hover {
                background-color: darken(#99c793, 30%);

                &::before {
                    right: 75%;
                }
            }
        }
    }
}
