@media only screen and (max-width: 740px) {
    .wrapper {
        width: 395px;
        padding: 20px 10px;
        font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    }

    .into-body {
    }

    .title-container {
        h1 {
            text-transform: capitalize;
        }
    }

    .title-content {
        text-indent: 30px;
    }

    .title-body {
        text-indent: 30px;
    }

    .small-title {
        h5 {
            font-size: 1.8rem;
            text-indent: 70px;
        }
    }

    .ul-small-title {
        list-style: none;
        li {
            text-indent: 90px;
        }
    }

    .title-image {
        width: 395px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .title-image-img {
        width: 370px;
        height: 310px;
        border-radius: 3px;
    }

    .widget_recent_entries {
        //padding: 0px 10px 10px 20px;
        padding: 10px 0px;
    }
    .mh-widget-title {
        width: 370px;
        position: relative;
        font-size: 2rem;
        padding-bottom: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
        border-bottom: 3px solid #e64946;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        color: #000;
        line-height: 1.3;
        font-weight: 700;
    }

    .mh-widget-ul {
        overflow: scroll;
        min-height: 100px;
        max-height: 370px;
        width: 370px;
    }

    .mh-widget-li {
        display: flex;
        padding: 13px 3px;
        border-bottom: 1px dotted #e5e5e5;
    }

    .mh-widget_icon {
        position: relative;
    }

    .mh-widget-a {
        line-height: 23px;
        text-transform: uppercase;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 22px;
        font-size: 1.5rem;
        position: relative;

        span {
            margin-left: 10px;
        }

        &:hover {
            color: #e64946;
        }
    }
}

@media only screen and (min-width: 740px) {
    .wrapper {
        width: 100%;
        padding: 20px 10px;
        font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    }

    .into-body {
    }

    .title-container {
        h1 {
            text-transform: capitalize;
        }
    }

    .title-content {
        text-indent: 30px;
    }

    .title-body {
        text-indent: 30px;
    }

    .small-title {
        h5 {
            font-size: 1.8rem;
            text-indent: 70px;
        }
    }

    .ul-small-title {
        list-style: none;
        li {
            text-indent: 90px;
        }
    }

    .title-image {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .title-image-img {
        width: 700px;
        height: 440px;
        border-radius: 3px;
    }

    .widget_recent_entries {
        padding: 0px 10px 10px 20px;
    }
    .mh-widget-title {
        position: relative;
        font-size: 2rem;
        padding-bottom: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
        border-bottom: 3px solid #e64946;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        color: #000;
        line-height: 1.3;
        font-weight: 700;
    }

    .mh-widget-ul {
        overflow: scroll;
        height: 370px;
    }

    .mh-widget-li {
        display: flex;
        padding: 13px 3px;
        border-bottom: 1px dotted #e5e5e5;
    }

    .mh-widget_icon {
        position: relative;
    }

    .mh-widget-a {
        line-height: 23px;
        text-transform: uppercase;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 22px;
        font-size: 1.5rem;
        position: relative;

        span {
            margin-left: 10px;
        }

        &:hover {
            color: #e64946;
        }
    }
}
